<br/>
<br/>
<br/>

<div class="container">
    <div class="row">
        <div class="col-md-11">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <form class="form-horizontal add-new-blog-form" name="addBlogForm" method="post">
                            <fieldset>
                                <legend class="text-center header">Added new blog</legend>

                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>

                                    <div class="col-md-8">
                                        <label class="control-label" >Blog topic name:</label>
                                        <input id="btopic" name="name" type="text" placeholder="Topic name" class="form-control" ng-model="blogEntity.topic" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>

                                    <div class="col-md-8">
                                        <label>Category:</label>
                                        <ui-select ng-model="blogEntity.category"
                                                   on-select="onSelectCategory($item, $model)">
                                            <ui-select-match>
                                                {{$select.selected.name}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="item in categories">
                                                <span ng-bind="item.name"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                    <div class="col-md-8">
                                        <label class="control-label" >Blog image URL:</label>
                                        <input id="bimage" name="image" type="text" placeholder="Enter image url" class="form-control" ng-model="blogEntity.photoUrl" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <img ng-if="blogEntity.photoUrl" width="500" class="img-responsive center-block" ng-src="{{blogEntity.photoUrl}}"/>
                                </div>

                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                                    <div class="col-md-8">
                                        <label class="control-label" >Blog description:</label>
                                        <textarea ng-model="blogEntity.description" required class="form-control" id="description" name="description" placeholder="Enter your description..." rows="3"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                                    <div class="col-md-8">
                                        <label class="control-label" >Blog content:</label>
                                        <textarea ng-model="blogEntity.content" required class="form-control" id="content" name="content" placeholder="Enter your blog content...." rows="7"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12 text-right" >
                                        <button ng-disabled="addBlogForm.$invalid" style="margin-right: 80px;" ng-click="postNewBlog()" class="btn btn-primary btn-lg">Post Blog</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="http://maps.google.com/maps/api/js?sensor=false"></script>

<style>
    .map {
        min-width: 300px;
        min-height: 300px;
        width: 100%;
        height: 100%;
    }

    .header {
        background-color: #F5F5F5;
        color: #36A0FF;
        height: 70px;
        font-size: 27px;
        padding: 10px;
    }

    .header {
        color: #36A0FF;
        font-size: 27px;
        padding: 10px;
    }

    .bigicon {
        font-size: 25px;
        color: #36A0FF;
    }
</style>